  
*{
	box-sizing: border-box;
}

body{
	margin:0;
  font-family: Arial,sans-serif;
}

 h2{
    color:white;
    background-color:#DEB887;
    letter-spacing: 0.1875rem;
    padding: 0.9375rem;
    border-radius: 0.625rem;
    width:28%;
    text-align:center;
    position:relative;
    left:35%;
    margin:0;
    top:50%;
}

 h3{
  text-align: center;
  vertical-align: middle; 
}  
  
p{
  text-align: justify;
  vertical-align: middle;
  } 
 

#bodyBackground,#sectionFour{
	width:100%;
	height:100vh;
	background-image:url('resources/unsplash.jpg');
	background-attachment:fixed;
	}

 #sectionTwoImage,#sectionThreeImage,#bodyBackground,#sectionFour{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
 

 #sectionOne,#sectionTwo,#sectionTwoImage,#sectionThree,#sectionThreeImage{
 	width:100%;
 	height:50vh;
 	padding:15vh; 
  }

 #sectionOne{
 		background-color:#EEDD82;
}

#sectionTwo{
	background-color:#AFEEEE;
}

#sectionTwoImage{
	background-image:url('resources/beach.jpg');
}

#sectionThreeImage{
  width:100%;
  height:50vh;
  background-image:url('resources/forest.jpg');
  background-attachment:fixed;
  color:white;
}

#sectionThree{
  background-color: #2F4F4F;
  color:white;
}

@media screen and (min-width: 320px) and (max-width: 510px){
 
  h2{
    min-width:60%;
    left:25%;
    top:40%;
  }

  h3{
    font-size: 0.625rem;
  }

  p{
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
  }

  }
 

 
 

 